{% extends 'main/base.html' %}

{% block title %}
  Browse projects
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container mt-1">
      {% if count <= 0 %}
        <h1 style="padding: 20px;">You dont have any projects, you can add projects <a href="http://127.0.0.1:8000/addproject/" class="btn btn-link">here</a></h1>
        {% elif count == 1 %}
        <h1 style="padding: 20px;">here is your project:</h1>
      {% else %}
        <h1 style="padding: 20px;">There are your {{ count }} projects:</h1>
      {% endif %}
    </div>
    <div class="container">
      <div class="row">
        {% for p in ps %}
          <div class="col-md-4">
            <div class="wrap">
              <div class="card mb-4 cardcolor" style="">
                <img src="{{ p.image }}" alt="{{ p.title }}" class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">{{ p.title }}</h5>
                  <hr class="sep" />
                  <p class="card-text">{{ p.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      {% if p.ProjectPageExists %}
                        <a href="{{ p.url }}" class="btn btn-link">Go to page</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h1>Please sign in first</h1>
  {% endif %}
{% endblock %}
