{% extends 'main/base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>About me</h2>
    <p>Hi! i am israel cohen and welcome to my website, in my Website you can see my projects, and sign up to show your own projects or comments on other people's projects, you can contact me via the contact link in the navbar</p>
    {% if alert != '~~' %}
      <div style="position: relative; top: 10px;" class="alert alert-success alert-dismissible" role="alert">
        {{ alert }}
        <button class="btn btn-close" aria-label="Close" data-bs-dismiss="alert">✕</button>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block active %}
  <script>
    document.getElementById('{{id}}').classList.add('cur')
  </script>
{% endblock %}
